<!DOCTYPE html>
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

<html>
<head>
    <title>This is in the title!</title>
</head>
<body>
    <h1>This is an h1!</h1>
    <p>This is in ffthe body!</p>
</body>
<footer>This is in the footer!</footer>
</html>