{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<body>
<h3>
    {% if user.is_authenticated %}
        You have changed the world.
    {% else %}
        Sign up now and change the world.
    {% endif %}
</h3>
    <div class="img-responsive center-block">
        <img class="img-responsive center-block"
        {% if pic_url %}
        src="{{ MEDIA_URL }}{{ pic_url }}"
        {% else %}
        src="{% static 'imager_images/demo.jpg' %}"
        {% endif %}
        >
    </div>
</body>

{% endblock %}