{% extends "base.html" %}
{% block content %}
{% load thumbnail %}

<body>
<h1>{{ user.username }}'s Albums</h1>
    {% for album in user.albums.all %}
    <div class="img-responsive col-md-6"><br><br>
        <h4 class='text-center'>{{ album.title }}</h2>
        <a href='/images/albums/{{ album.id }}'><img style='box-shadow: 10px 15px 15px;' class="img-responsive" src="{{ MEDIA_URL }}{{ album.cover.file }}"></a>
    </div>
    {% endfor %}
<div class="img-responsive col-md-6"><div>
    <h1>{{ user.username }}'s Photos</h1>
    {% for photo in user.photos.all %}
    <div class="img-responsive col-md-6"><br><br>
        <h4 class='text-center'>{{ photo.title }}</h4>
        <a href='/images/photos/{{ photo.id }}'><img style='box-shadow: 10px 15px 15px;' class="img-responsive" src="{{ MEDIA_URL }}{{ photo.file }}"></a>
    </div>
    {% endfor %}
</body>
{% endblock %}